<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.3.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
 
    <!-- 配置扫描器 -->
    <context:component-scan base-package="com.huashao.controller" />
    <!-- 注解驱动：配置处理器映射器和适配器 -->
    <mvc:annotation-driven>
    	<!-- 不使用后缀匹配 -->
    	<mvc:path-matching suffix-pattern="false"/>
    </mvc:annotation-driven>
    
    <!-- 允许静态资源访问 -->
    <mvc:default-servlet-handler/>
    
    
    <!-- 配置视图解释器ViewResolver -->
    <bean id="jspViewResolver" class=
    "org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
    </bean>	
    
    <!-- 配置文件上传的解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
    	<property name="maxUploadSize" value="10485760"></property>
    	<property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <!-- 配置拦截器 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			拦截所有mvc控制器
			mvc:exclude-mapping是另外一种拦截，它可以在你后来的测试中对某个页面进行不拦截，这样就不用在
				LoginInterceptor的preHandler方法里面获取不拦截的请求uri地址了(优选)
			<mvc:exclude-mapping path="/tohuashao"/>
			<mvc:exclude-mapping path="/tohomepage"/>
			<mvc:exclude-mapping path="/toregister"/> 
			<mvc:exclude-mapping path="/tologin"/>
			<bean class="com.huashao.interceptor.LoginInterceptor"></bean>			
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>